**주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하라 (소수점 둘째자리까지 출력, 반올림)**

In [41]:
# 라이브러리 불러오기
import pandas as pd

# 데이터 불러오기 (datatime컬럼 지정)
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", parse_dates=['Date'])

df.head()

        Date     Sales      PV      UV  Events
0 2022-01-01  22711525  397349  4421.0       1
1 2022-01-02     36779    3969  2289.0       0
2 2022-01-03  13943875  373890     NaN       1
3 2022-01-04   8088593  142054  2157.0       0
4 2022-01-05   2395374  190684     NaN       0

In [42]:
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day

In [43]:
df = df[(df['year'] == 2022) & (df['month'] == 5)]

In [48]:
# 주말 평일 구분
df['dayofweek'] = df['Date'].dt.dayofweek
df['weekend'] = df['dayofweek'].apply(lambda x: x>=5)

,Date,Sales,PV,UV,Events,year,month,day,dayofweek,weekend
120,2022-05-01,976303,45225,1142.0,0,2022,5,1,6,True
121,2022-05-02,7394853,262116,2959.0,1,2022,5,2,0,False
122,2022-05-03,813181,23916,358.0,0,2022,5,3,1,False
123,2022-05-04,318886,4733,292.0,0,2022,5,4,2,False
124,2022-05-05,43980,47246,560.0,0,2022,5,5,3,False
125,2022-05-06,38524,2604,NaN,0,2022,5,6,4,False
126,2022-05-07,3370701,470556,5737.0,1,2022,5,7,5,True
127,2022-05-08,5682682,68592,2431.0,0,2022,5,8,6,True
128,2022-05-09,1477685,17533,911.0,0,2022,5,9,0,False
129,2022-05-10,500866,14862,1013.0,0,2022,5,10,1,False
130,2022-05-11,812544,44101,538.0,0,2022,5,11,2,False
131,2022-05-12,12567933,217487,2864.0,1,2022,5,12,3,False
132,2022-05-13,29851429,493901,NaN,1,2022,5,13,4,False
133,2022-05-14,33151713,418552,5225.0,1,2022,5,14,5,True
134,2022-05-15,2565232,25985,1932.0,0,2022,5,15,6,True
135,2022-05-16,3735270,40612,430.0,0,2022,5,16,0,False
136,2022-05-17,1534801,112862,1201.0,0,2022,5,17,1,False
137,2022-05-18,253328,10495,1177.0,0,2022,5,18,2,False
138,2022-05-19,4479021,512578,7066.0,1,2022,5,19,3,False
139,2022-05-20,39550,425,5.0,0,2022,5,20,4,False
140,2022-05-21,394356,5934,237.0,0,2022,5,21,5,True
141,2022-05-22,12333077,140402,3724.0,0,2022,5,22,6,True
142,2022-05-23,4155337,147844,3469.0,0,2022,5,23,0,False
143,2022-05-24,1818011,50325,4930.0,0,2022,5,24,1,False
144,2022-05-25,3410204,36801,NaN,0,2022,5,25,2,False
145,2022-05-26,6602405,172928,6090.0,1,2022,5,26,3,False
146,2022-05-27,734977,21271,1731.0,0,2022,5,27,4,False
147,2022-05-28,446467,6543,76.0,0,2022,5,28,5,True
148,2022-05-29,1325024,97864,1743.0,0,2022,5,29,6,True
149,2022-05-30,36557,3995,367.0,0,2022,5,30,0,False
150,2022-05-31,420110,4782,108.0,0,2022,5,31,1,False

In [45]:
weekend = df[df['weekend'] == True]['Sales'].mean()
weekday = df[df['weekend'] == False]['Sales'].mean()

In [46]:
weekend, weekday

(6693950.555555556, 3683611.4545454546)

In [47]:
print(round(weekend - weekday, 2))

3010339.1

---

**parse_dates**  
**df['dayofweek'] = df['Date'].dt.dayofweek**  
**df['weekend'] = df['dayofweek'].apply(lambda x: x>=5)**

---