**basic1 데이터와 basic3 데이터를 'f4'값을 기준으로 병합하고, 병합한 데이터에서 r2결측치를 제거한다음, 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합을 구하라**

In [50]:
# 라이브러리 및 데이터 로드
import pandas as pd
b1 = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
b3 = pd.read_csv("../input/bigdatacertificationkr/basic3.csv")

In [51]:
df = pd.merge(left = b1, right = b3, how = 'left', on = 'f4')
df

       id    age city    f1  f2   f3    f4         f5    r1    r2
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791  INFP  ISFP
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826  INFP  ISFP
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986  ESFP   NaN
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078  ENFJ  ENTJ
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869  ESFP  ESTP
..    ...    ...  ...   ...  ..  ...   ...        ...   ...   ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078  INFP   NaN
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373  ENFJ  ENTJ
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899  ENFJ  ENTJ
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034  ISFP  ISTP
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999  ISFJ  ISTJ

[100 rows x 10 columns]

In [52]:
df = df[~df['r2'].isnull()]

In [53]:
df = df.iloc[:20]
print(df['f2'].sum())

15

---

**dropna 함수와 subset 파라미터**  
**merge 함수와 how 파라미터**

---